
<h3>Kredyt hipoteczny</h3>

<div>
  <mat-form-field>
    <p>Cena nieruchomości</p>
    <input [(ngModel)]="kredytH.cena" matInput placeholder="zł" type="number">
  </mat-form-field>

<mat-form-field>
    <p>Wkład własny</p>
    <input [(ngModel)]="kredytH.wklad" matInput placeholder="zł" type="number">
  </mat-form-field>

  <mat-form-field>
    <p>Ilość rat w miesiącach</p>
    <input [(ngModel)]="kredytH.raty" matInput type="number">
  </mat-form-field>

  <h4>Parametry kredytu</h4>

    <mat-form-field>
    <p>Oprocentowanie</p>
    <input [(ngModel)]="kredytH.oprocentowanie" matInput placeholder="%" type="number" min="1" max="100">
  </mat-form-field>

   <mat-form-field>
    <p>Prowizja</p>
    <input [(ngModel)]="kredytH.prowizja" matInput placeholder="%" type="number" min="1" max="100">
  </mat-form-field>

   <mat-form-field>
    <p>Inne koszty</p>
    <input [(ngModel)]="kredytH.inneKoszty" matInput placeholder="zł" type="number">
  </mat-form-field>

</div>
<button mat-button (click)="obliczHipoteczny()">Oblicz</button>
<p>&nbsp;</p>

<p>&nbsp;</p>
<mat-card>
  <h2>Wysokość miesięcznej raty</h2>
  <h2>{{ valueHipoteczny }}</h2>
</mat-card>


